.profile-pic {
    width: 500px;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  
  .swipe {
    width: 300px;
    height: 400px;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    margin-bottom: -100px;
    cursor: pointer;
  }
  
  .card {
    padding: 16px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 0 0 8px 8px;
  }
  
  .top-card {
    transform: scale(1.1);
  }
  
  .swipe-info {
    position: absolute;
    text-align: center;
    top: 0px;
  }
  
  .buttons {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 40px;
  }
  
  button {
    margin: 0 10px;
    padding: 8px 16px;
    cursor: pointer;
  }
  
  .editprofileform {
    position: relative;
    left: 300px;
}